@font-face {
  font-family: "Grotesk";
  src: url("../fonts/reforma-grotesk-medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Grotesk";
  src: url("../fonts/reforma-grotesk-demi.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Grotesk";
  src: url("../fonts/reforma-grotesk-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;

  font-family: "Grotesk", "Arial", sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  color: #fff;

  background-color: #1e1e1e;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 1920px;
  min-height: 100%;
  margin: 0 auto;

  background: #141414 url("../images/body-bg.jpg") no-repeat 0 0 / 100%;
}

.main {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: inherit;
  background-color: #db3138;
}

.link {
  text-decoration: none;
  color: inherit;
}

.header {
  padding: 0 312px;
}

.navigation {
  letter-spacing: 0.03em;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 40px 20px;
}

.navigation-item:first-child .navigation-link {
  padding-left: 0;
}

.hero {
  text-align: center;
  padding-top: 148px;
}

.hero-title {
  margin: 0;
  font-size: 150px;
  line-height: 188px;
  text-transform: uppercase;
  color: #db3138;
}

.hero-description {
  margin: 0;
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 48px;
}

.hero-link {
  display: block;
  margin: 0 auto 103px;
  padding: 15px 25px 12px;
  width: min-content;

}

.contacts {
  display: flex;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.contacts-cell {
  width: 100%;
  padding: 50px 188px;
  border: 1px solid #898989;
}

.contacts-cell:first-child,
.contacts-cell:last-child {
  border-left: none;
  border-right: none;
}

.contacts-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: inherit;
  font-size: 18px;
  line-height: 25px;
}

.contacts-description {
  display: block;
  margin: 0;
  font-style: normal;
  font-size: 24px;
  line-height: 34px;
  color: #db3138;
}

.achievements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  letter-spacing: 0.05em;
  padding: 180px 312px;
}

.achievements-title {
  margin: 0;
  margin-bottom: 115px;
  font-weight: 600;
  font-size: 52px;
  line-height: 73px;
  text-transform: uppercase;
}

.achievements-description {
  letter-spacing: 0.03em;
  margin: 0;
  margin-right: 110px;
}

.achievements-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 600;
  text-transform: uppercase;
}

.achievements-item {
  font-size: 16px;
  line-height: 22px;
}

.achievements-place {
  font-size: 24px;
  line-height: 34px;
  color: #db3138;
}

.achievements-place b {
  font-weight: inherit;
  font-size: 52px;
  line-height: 72px;
}

.gallery {
  display: flex;
  gap: 24px;
  padding: 0 312px;
}

.gallery-text-wrapper {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.gallery-image {
  text-align: center;
}

.benefits-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 134px;
  padding: 180px 312px;
}

.benefits-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.benefits-title {
  margin: 0;
  margin-bottom: 43px;
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.benefits-description {
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 94px;
}

.slider-image {
  display: block;
  margin-bottom: 40px;
}

.slider-description {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
}

.services {
  padding: 0 312px;
  text-align: center;
}

.services-title {
  margin: 0;
  margin-bottom: 115px;
  font-weight: 600;
  font-size: 52px;
  line-height: 73px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.services-button {
  display: inline-block;
  font-size: 32px;
  line-height: 45px;
  margin-bottom: 80px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  letter-spacing: 0.05em;
  font-weight: 600;
}

.services-item {
  box-sizing: border-box;
  padding: 170px 70px 50px;
  border: 1px solid #898989;
  width: 306px;
}

.service-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: inherit;
  font-size: 24px;
  line-height: 34px;
}

.service-description {
  margin: 0;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 22px;
}

.service-link {
  font-size: 18px;
  line-height: 25px;
}

.works-title {
  margin: 0;
  margin-bottom: 115px;
  font-weight: 600;
  font-size: 52px;
  line-height: 73px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}

.photos {
  display: flex;
  flex-wrap: wrap;
}

.questions {
  padding: 120px 642px 100px;
}

.questions-wrapper {
  position: relative;
}

.questions-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.questions-title {
  margin: 0;
  margin-bottom: 115px;
  font-weight: 600;
  font-size: 52px;
  line-height: 73px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}

.form-input,
.form-textarea {
  border: 1px solid #898989;
  background: inherit;
  padding: 15px 25px 10px;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: inherit;
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: #898989;
}

.form-textarea {
  resize: none;
  margin-right: 110px;
  grid-column: 1 / -1;
}

.form-button {
  font-size: 24px;
  line-height: 34px;
  padding: 15px 25px 12px;
  width: min-content;
}

.questions-contacts {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: right;

  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.contacts-link:not(:last-child) {
  margin-left: 15px;
}

.footer-divider {
  border-color: #898989;
  margin: 0;
}

.footer{
  padding: 0 312px;
  display: flex;
  align-items: center;
}

.copyright {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0.5;
  margin-right: 187px;
}
