@font-face {
  font-family: "Grotesk";
  src: url("../fonts/reforma-grotesk-medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Grotesk";
  src: url("../fonts/reforma-grotesk-demi.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Grotesk";
  src: url("../fonts/reforma-grotesk-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}


/* Общие правила */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;

  font-family: "Grotesk", "Arial", sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  color: #fff;

  background-color: #1e1e1e;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 1920px;
  min-height: 100%;
  margin: 0 auto;

  background: #141414 url("../images/body-bg.jpg") no-repeat 0 0 / 100%;
}

.main {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: inherit;
  background-color: #db3138;
  cursor: pointer;

  transition: transform 0.1s linear;
}

.button:hover {
  transform: scale(1.1);
}

.button:focus-visible {
  outline: 3px solid #fff;
}

.button:active {
  opacity: 0.8;
}

/* Кнопки слайдеров */
.button-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: calc(50% - 25px);
  left: 0;
}

.button-prev,
.button-next {
  width: 50px;
  height: 50px;
  border: 3px solid #db3138;
  background: transparent url("../images/arrow-icon.svg") no-repeat center;

  transition: transform 0.1s linear;
}

.button-prev {
  transform: rotate(-45deg);
  margin-left: 15px;
}

.button-next {
  transform: rotate(135deg);
  margin-right: 15px;
}

/* Состояния кнопок слайдера */
.button-prev:hover {
  transform: scale(1.1) rotate(-45deg);
}

.button-next:hover {
  transform: scale(1.1) rotate(135deg);
}

.button-next:focus-visible,
.button-prev:focus-visible {
  outline: none;
  border: 3px solid #fff;
}

.button-next:active,
.button-prev:active {
  opacity: 0.8;
}

/* ссылки */
.link {
  text-decoration: none;
  color: inherit;
}

/* Заголовки */
.title {
  position: relative;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
}

.title::before {
  content: "";
  position: absolute;
  background: url("../images/decorative-square.svg") no-repeat;
  width: 146px;
  height: 15px;
}

/* Шапка сайта */
.header {
  padding: 0 312px 0 292px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Навигация */
.navigation {
  letter-spacing: 0.03em;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 40px 20px;
  transition: transform 0.1s linear;
}

/* Состояния ссылок */
.navigation-link:hover {
  color: #cdb7b7;
  transform: scale(1.1);
}

.navigation-link:focus-visible {
  outline: 2px solid #db3138;
}

.navigation-link:active {
  color: #a18f8f;
}

/* Кнопка меню */
.navigation-button {
  box-sizing: border-box;
  min-width: 100px;
  min-height: 109px;
  padding: 40px 20px;
  text-decoration: none;
  text-align: center;
  color: inherit;
}

.navigation-button svg {
  fill: #db3138;
  transition: transform 0.1s linear;
}

.navigation-button:hover svg {
  transform: scale(1.1);
}

.navigation-button:focus-visible {
  outline: 2px solid #db3138;
}

.navigation-button:active svg {
  fill-opacity: 0.7;
}

/* Блок герой */
.hero {
  text-align: center;
  padding-top: 148px;
}

.hero-title {
  margin-bottom: 61px;
  font-size: 150px;
  line-height: 188px;
  color: #db3138;
}

.hero-title::before {
  bottom: -20px;
  left: calc(50% - 73px);
}

.hero-description {
  margin: 0;
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.03em;
}

.hero-link {
  display: block;
  margin: 0 auto 103px;
  padding: 15px 25px;
  width: max-content;
}

/* Контакты */
.contacts {
  display: flex;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.contacts-cell {
  width: 100%;
  padding: 50px 188px;
  border: 1px solid #898989;
}

.contacts-cell:first-child,
.contacts-cell:last-child {
  border-left: none;
  border-right: none;
}

.contacts-title {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 25px;
}

.contacts-title::before {
  display: none;
}

.contacts-description {
  display: block;
  margin: 0;
  font-style: normal;
  font-size: 24px;
  line-height: 34px;
  color: #db3138;
}

.contacts-description:first-of-type {
  margin-bottom: 15px;
}

/* Достижения */
.achievements {
  box-sizing: border-box;
  min-height: 1015px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  letter-spacing: 0.05em;
  padding: 180px 312px 90px;
}

.achievements-title {
  margin-bottom: 115px;
  font-size: 52px;
  line-height: 73px;
}

.achievements-title::before {
  bottom: -60px;
  left: 0;
}

.achievements-description {
  letter-spacing: 0.03em;
  margin: 0;
  margin-right: 110px;
}

.achievements-list {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 600;
  text-transform: uppercase;
}

.achievements-item {
  box-sizing: border-box;
  border: 1px solid #898989;
  min-height: 177px;
  width: 318px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  margin-top: -1px;
  margin-left: -1px;
  padding: 25px 20px 35px;
}

.achievements-item:nth-child(even) {
  transform: translateY(40px);
}

.achievements-item:last-child {
  background: url("../images/cup-icon.svg") no-repeat 50% 25px;
  padding-top: 98px;
}

.achievements-place {
  display: block;
  font-size: 24px;
  line-height: 34px;
  color: #db3138;
}

.achievements-place b {
  font-weight: inherit;
  font-size: 52px;
  line-height: 72px;
}

/* Галерея-слайдер */
.gallery {
  position: relative;
  display: flex;
  gap: 24px;
  padding: 90px 312px;
}

.gallery-text-wrapper {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.gallery-image {
  text-align: center;
  display: block;
}

.image-description {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: -43px;
  background-color: #db3138;
  padding: 30px 40px;
  box-sizing: border-box;
}

/* Кнопки слайдера */
.gallery .button-prev {
  margin-top: -30px;
  margin-left: 200px;
}

.gallery .button-next {
  margin-top: -30px;
  margin-right: 200px;
}

/* Обертка для блока преимуществ и слайдера */
.benefits-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 134px;
  padding: 90px 312px;
  align-items: center;
}

/* Преимущества */
.benefits-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.benefits-item {
  position: relative;
}

.benefits-item:nth-child(1) {
  background: url("../images/benefits-icons/benefits-icon-1.svg") no-repeat;
}

.benefits-item:nth-child(2) {
  background: url("../images/benefits-icons/benefits-icon-2.svg") no-repeat;
}

.benefits-item:nth-child(3) {
  background: url("../images/benefits-icons/benefits-icon-3.svg") no-repeat;
}

.benefits-item:not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: -55px;
  left: calc(50% - 73px);
  width: 146px;
  height: 15px;
  background: url("../images/decorative-square.svg") no-repeat;
}

.benefits-title {
  margin-left: 100px;
  margin-bottom: 43px;
  font-size: 32px;
  line-height: 45px;
  letter-spacing: 0.05em;
}

.benefits-title::before {
  display: none;
}

.benefits-description {
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 94px;
}

.benefits-item:last-child .benefits-description {
  margin: 0;
}

/* Слайдер */
.slider-block {
  width: 636px;
  height: 550px;
  margin-bottom: 40px;
  overflow: hidden;
}

.slider-line-first,
.slider-line-second {
  position: relative;
  left: 0;
  width: 1908px;
  display: flex;

  transition: all 1s ease;
}


.slider-image {
  display: block;
  margin-bottom: 40px;
}

/* Обертка для кнопок и описания */
.description-wrapper {
  position: relative;
}

.slider-description {
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  width: 65%;
}

/* Услуги */
.services {
  padding: 90px 312px;
  text-align: center;
}

.services-item:nth-child(1) {
  background: url("../images/benefits-icons/benefits-icon-4.svg") no-repeat center 86px;
}

.services-item:nth-child(2) {
  background: url("../images/benefits-icons/benefits-icon-1.svg") no-repeat center 86px;
}

.services-item:nth-child(3) {
  background: url("../images/benefits-icons/benefits-icon-2.svg") no-repeat center 86px;
}

.services-item:nth-child(4) {
  background: url("../images/benefits-icons/benefits-icon-3.svg") no-repeat center 86px;
}

.services-title {
  margin-bottom: 115px;
  font-size: 52px;
  line-height: 73px;
  letter-spacing: 0.05em;
}

.services-title::before {
  bottom: -50px;
  left: calc(50% - 73px);
}

.services-button {
  display: inline-block;
  font-size: 32px;
  line-height: 45px;
  margin-bottom: 80px;
  padding: 20px 40px;
  background: none;
}

.services-button:not(:last-of-type) {
  margin-right: 60px;
}

.services-button-current {
  background-color: #db3138;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  letter-spacing: 0.05em;
  font-weight: 600;
}

.services-item {
  box-sizing: border-box;
  padding: 170px 70px 50px;
  border: 1px solid #898989;
  width: 306px;
}

.service-title {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 34px;
}

.service-title::before {
  display: none;
}

.service-description {
  margin: 0;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 22px;
}

.service-link {
  display: block;
  font-size: 18px;
  line-height: 25px;
  padding: 10px 20px;
}

/* Наши работы */
.works {
  padding: 90px 0;
}

.works-title {
  margin-bottom: 115px;
  font-size: 52px;
  line-height: 73px;
  letter-spacing: 0.05em;
  text-align: center;
}

.works-title::before {
  bottom: -60px;
  left: calc(50% - 73px);
}

.photos {
  display: flex;
  flex-wrap: wrap;
}

/* Вопросы */
.questions {
  padding: 30px 642px 100px;
}

.questions-wrapper {
  position: relative;
}

/* Форма для вопроса */
.questions-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.questions-title {
  margin-bottom: 115px;
  font-size: 52px;
  line-height: 73px;
  letter-spacing: 0.05em;
  text-align: center;
}

.questions-title::before {
  bottom: -60px;
  left: calc(50% - 73px);
}

.form-input,
.form-textarea {
  border: 1px solid #898989;
  background: inherit;
  padding: 15px 25px 10px;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: inherit;

  transition: transform 0.1s linear;
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: #898989;
}

.form-textarea {
  resize: none;
  margin-right: 110px;
  grid-column: 1 / -1;
  min-height: 150px;
  box-sizing: border-box;
}

/* Состояния полей */
.form-input:hover,
.form-textarea:hover {
  border: 1px solid #db3138;
}

.form-input:focus,
.form-textarea:focus {
  outline: none;
  border: 1px solid #db3138;
  transform: scale(1.03);
}

.form-button {
  font-size: 24px;
  line-height: 34px;
  padding: 15px 25px 12px;
  width: min-content;
}

/* Соц сети */
.social {
  max-height: 150px;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  right: 0;
  top: 73px;
}

.social-link {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid #898989;

  transition: transform 0.1s linear;
}

.social-link:nth-child(1) {
  background: url("../images/social-icons/telegram-icon.svg") no-repeat center;
}

.social-link:nth-child(2) {
  background: url("../images/social-icons/vk-icon.svg") no-repeat center;
}

.social-link:nth-child(3) {
  background: url("../images/social-icons/youtube-icon.svg") no-repeat center;
}

/* Состояния ссылок */
.social-link:hover {
  border: 1px solid #db3138;
}

.social-link:focus-visible {
  outline: none;
  border: 1px solid #db3138;
  transform: scale(1.1);
}

/* Контакты */
.questions-contacts {
  position: absolute;
  right: 0;
  top: 250px;

  width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: right;

  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.contacts-link {
  position: relative;
  margin-left: 30px;

}

.contacts-link svg {
  position: absolute;
  left: -25px;
  width: 20px;
  height: 20px;
  fill: #fff;
  transition: transform 0.1s linear;
}

.contacts-link:hover svg {
  transform: translateY(-5px);
  fill: #c4c4c4;
}

.contacts-link:hover {
  color: #c4c4c4;
}

.contacts-link:focus-visible {
  outline: none;
}

.contacts-link:focus-visible svg {
  outline: none;
  fill: #db3138;
  transform: translateY(-5px);
}

.contacts-link:active svg {
  fill: #a92529;
}

.footer-divider {
  border-color: #898989;
  margin: 0;
}

/* Подвал */
.footer {
  padding: 0 312px;
  display: flex;
  align-items: center;
}

.copyright {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0.5;
  margin-right: 187px;
  min-width: max-content;
}
